/* html, body {
    overflow-x: hidden;
} */
.home{
    height: 100vh;
    background-image: url(../images/events-heavenly-header.jpeg);
   
    background-position: center;
    background-size: cover;
}
.home-overlay{
    background-color: rgba(141, 40, 43, 0.6);
}
.menu-icon{
    position: absolute;
    bottom: -60px;
    cursor: pointer;
}
.close-icon{
    cursor: pointer; 
}
.left-nav{
    width: 270px;
    position: fixed;
    top: 0px;
}
.singer-title{
    background-color: rgba(214, 46, 51 , 0.6);
    color: white;
}
.singer-content{
    background-color: #ccc;
    display: none;
}
.first-singer {
   display: flex;
}
.count{
    background-image: url(../images/invitation-2508607__340.jpeg);
    background-size: cover;
    background-position: center ;
   
}
.count-overlay{
    background-color: rgba(141, 40, 43, 0.6);
    height: 100%;
}
.time{
    border: 2px white solid;
}
.social-icons i{
    width: 40px;
    height: 40px;
    padding-top: 5px;
    border: 2px solid  #999;
}
.social-icons i:hover{
   color: white;
   background-color: rgb(227, 1, 1);  
   border-color:  rgb(227, 1, 1) ;
}
.contact i , .contact p{
    color: #777;
}

textarea {
    resize: vertical;
    min-height: 200px !important;
}
